parameters:
    level: 8
    editorUrl: 'vscode://file/%%file%%:%%line%%'
    paths:
        - command.php
        - src/
    scanFiles:
        - %rootDir%/../../php-stubs/wordpress-stubs/wordpress-stubs.php
    scanDirectories:
        - %rootDir%/../../wp-cli/wp-cli
    ignoreErrors:
        -
            message: '#Parameter \#[0-9]+ \$cmd of function WP_CLI\\Utils\\esc_cmd expects array<string>, string given.#'
            identifier: argument.type
        -
            message: '#Parameter \#[0-9]+ \$assoc_args of function WP_CLI\\Utils\\assoc_args_to_str expects array<string, string>, array<string, string\|true> given.#'
            identifier: argument.type
